header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.Header{
    background-color: black;
}

li{
    list-style-type: none;
    display: flex;
    padding: 10px;
}

ul{
    display: flex;
}

a{
    color: white;
    text-decoration: none;
    border: 2px solid black;
}

a:hover{
    border-bottom: 1px solid rgb(218, 187, 14);
}

a:hover .popup {
    display: block;
  }

a:not(:hover) {
  color: #ddd; /* Dull white color for other links */
}

a:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scaleX(0); /* Start with no width */
    transition: transform 1s ease; /* Add a smooth transition effect */
}

.login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    width: 250px;
    padding-right: 20px;
}


/* Style the input container */
.input-container {
    display: flex;
    border: 2px solid #007BFF; /* Border for the input container */
    border-radius: 5px; /* Rounded corners */
}

/* Style the search input */
.search-input {
    border: none;
    padding: 10px;
    width: 100px; /* Adjust the width as needed */
    outline: none;
    font-size: 16px;
}

/* Style the search button */
.search-button {
    background-color: #007BFF;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Style the search icon */
.search-button i {
    color: white;
    font-size: 18px;
}

/* Hover effect for the search button */
.search-button:hover {
    background-color: #0056b3;
}

