.PopupContent{
    display: flex;
    padding: 10px;
}

.PopupMain{
    display: flex;
    flex-direction: column;
    width: 300px;
}


.PopupMain > li{
    padding: 10px;
    padding-right: 200px;
  }
  

.PopupSub{
    display: flex;
}

.PopupSub > div{
    padding: 10px;
    display: inline-block;
    width: 200px;
}

h4{
    padding-bottom: 10px;
}

.PopupSub > div>  h4{
    border-bottom: 2px solid black;
}